@model MongoDbMVCApp1.Models.UserModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
<div>
    <h1>Registration View</h1>
</div>
</body>
</html>
